.menu {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 32px);
	overflow-y: hidden;
	width: 100%;
	gap: 30px;
	padding-top: 160px;
}
.games {
	display: flex;
	flex-direction: column;
	padding: 20px 18px;
	gap: 10px;
	overflow-y: auto;
	max-height: 50vh;
}

@media (min-width: 768px) {
	.menu {
		max-width: 30vw;
		padding-top: 160px;
	}
}
