.error {
	color: var(--error-color);
	padding: 0;
	margin: 0;
}

input {
	background: transparent;
	border: none;
	width: 100%;
}
input:focus-visible {
	outline: none;
}

.inputWrapper {
	display: flex;
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	background: var(--input-color);
	box-sizing: border-box;
	border: 1px solid #5d5d5d;
	border-radius: 8px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 24px;
}

.ico {
	margin-left: 5px;
	height: 20px;
	width: 20px;
	cursor: help;
}

.inputWrapper::placeholder {
	color: #b3b3b3;
}
