.rank {
	width: 35px;
	height: 35px;
	color: white;
	background: linear-gradient(to bottom, #eb9a19 0%, #982300 100%);
	border: 3px solid rgb(65, 65, 65);
	border-radius: 8px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px 0px rgba(0, 0, 0, 0.14);
	position: relative;
	flex-shrink: 0;
}

.rank::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 4px;
	background: var(--btn-color);
}

.rank span {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	height: 100%;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
		0px 2px 4px rgba(0, 0, 0, 0.14);
	font-weight: 900;
}
