.wrapper {
	animation: moveBackground 20s linear infinite;
}

.menu {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 32px);
	overflow-y: hidden;
	width: 100%;
	gap: 30px;
	padding-top: 160px;
}

.userInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 18px;
}

.currentGames {
	display: flex;
	flex-direction: column;
	padding: 20px 18px;
	gap: 10px;
	overflow-y: auto;
	max-height: 50vh;
}

@keyframes moveBackground {
	0%,
	100% {
		background-position: left center;
	}
	50% {
		background-position: right center;
	}
}

/* Desktop */

@media (min-width: 768px) {
	.menu {
		max-width: 30vw;
		padding-top: 160px;
	}
}

/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.menu {
		max-width: 190vw;
	}
}
