.logo {
	width: 50%;
}
header {
	display: flex;
	margin-top: 70px;
	align-items: center;
	justify-content: center;
	position: fixed;
	margin: 70px 16px 0 16px;
	top: 0;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	header {
		margin: 60px 0 0 0;
		max-width: 30vw;
		transform: translateX(-50%);
		left: 50%;
	}
}
