.gameItem {
	display: flex;
	justify-content: space-between;

	padding: 5px 20px;
	width: 100%;

	background: linear-gradient(to bottom, #e9a63f 0%, #922e00 100%);
	border: 3px solid rgb(65, 65, 65);
	border-radius: 18px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px 0px rgba(0, 0, 0, 0.14);
	position: relative;
	transition: all 0.35s cubic-bezier(0.1, 0, 0, 1);
}

.gameItem::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	border-radius: 12px;
	background: #b46822;
}

.gameItem span {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.right {
	display: flex;
	gap: 30px;
}

.gameItem button span {
	border-radius: 10px;
}

.gameItem button {
	width: 45px;
	height: 45px;
	padding: 0;
	border-radius: 12px;
}

.gameItem button::before {
	border-radius: 8px;
}
