.lobbyPlayer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	padding: 10px 18px;

	border-radius: 10px;
	border: 3px solid rgb(65, 65, 65);
	background: linear-gradient(0deg, rgba(255, 192, 70, 0.2) 0%, rgba(255, 192, 70, 0.2) 100%),
		linear-gradient(180deg, #fbfbfb 0%, #717171 100%);
	margin-bottom: 10px;
}
.lobbyPlayer > :nth-child(3) {
	margin-left: auto;
}
